body {
  font-family: Helvetica;
  margin: 20px;
  background-color: #363;
}

button {
  font-size: 1.5em;
  font-family: Helvetica;
  padding: 0.5em 2em;
  border-radius: 10px;
  border: none;
  background-color: #ccc;
  outline: none;
}
button:hover {
  background-color: #eee;
}

.card {
  float: left;
  border: solid 1px black;
  border-radius: 5px;
  margin-right: 20px;
}

.hand {
  overflow: auto;
}

.winnerMessage {
  font-size: 2em;
  color: white;
  font-weight: bold;
  margin-left: 2em;
}
